html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    font-family: "Noto Color Emoji", sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Cache la modal par défaut */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.controls div {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.labirint {
    border: 20px solid #dbd8d8;
    border-radius: 10px;
    background-color: #dbd8d8;
}

.submitButton {
    background: linear-gradient(65deg, #170 0%, #1ece01 100%);
    border: 0;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


